.main {
  background: no-repeat url("../assets/img/giphy.jpg") center;
  background-size: cover;
  .search-container {
    position: fixed;
    top: 5px;
    right: 0px;
    z-index: 99;
    padding: 0 20px;
    .md-button.md-fab.md-mini {
      background: #121212;
      box-shadow: none;
    }
    input {
      font-size: 16px;
      border-radius: 3px;
      border: 4px inset #8A2BE2;
      background-color: #fff;
      min-width: 100px;
      width: 700px;
      transition: 0.1s ease-in;
      height: 45px;
      padding: 5px;
      font-family: 'Limelight', cursive;
    }
    input:focus{
      background-color: #fff;
    }
      .search-btn {
        fill: white;
      }
      .search-btn:hover {
        fill: #8A2BE2;
      }
  }

  .gif-block-header {
    p {
      font-family: 'Press Start 2P', cursive;
      font-size: 30px;
      color: #8A2BE2;
      text-shadow: 2px 1px 1px black;
    }
    .btn-add-gif {
      padding: 10px;
      margin-left: 10px;
      border: 3px solid transparent;
      border-radius: 25px;
      background: darkmagenta;
      color: white;
      box-shadow: 0px 0px 2px inset;
      font-size: 20px;
      font-family: 'Limelight', cursive;
    }
    .btn-add-gif:hover {
      border: 3px outset white;
      
    }
    .btn-add-gif:active {
      border: 3px inset white;
    }
  }
}