
<div class="page">
    <div class="main">
        <div class="search-container" layout="row" layout-align="end center">
            <input ng-show="isOpenSearch" placeholder="Search your gif..." type="text" ng-model="vm.textSearch"
            />
            <md-button ng-click="isOpenSearch = !isOpenSearch" class="md-fab md-mini">
                <ng-md-icon ng-if="!isOpenSearch" size="30" class="search-btn" size="24" icon="search">
                </ng-md-icon>
                <ng-md-icon ng-if="isOpenSearch" size="30" class="search-btn" icon="youtube_searched_for">
                </ng-md-icon>
            </md-button>
        </div>

        <div class="gif-block-header" layout="row" layout-align="space-between center">
            
            <div>
                <button class="btn-add-gif" ng-model="vm.plusSearch" ng-click="vm.loadGifsPlus()">Want
                    more GIF!</button>
            </div>
            <div>
                <p>Gif lives here</p>
            </div>
            <div style="width: 180px"></div>
            
        </div>
        <div>

        </div>

        <div class="gif-container" layout="row" layout-align="center start" infinity-scroll="vm.loadGifs(vm.textSearch)">
            <div class="item" ng-repeat="item in vm.stockList track by $index">
                <img ng-click="vm.openGif(item, $event)" ng-src="{{item.fixed_height_small_url}}"
                    alt="{{item.id}}">
                <button class="save-btn" ng-click="vm.addGifInCollection(item.id)">
                    <ng-md-icon style="fill: white" icon="add">
                        <md-tooltip>Add #MyHolyGiphyCollection</md-tooltip>
                    </ng-md-icon>
                </button>
            </div>
        </div>

    </div>
</div>