.shell {
  .main-header {
    position: fixed;
    width: 100%;
    height: 64px;
    min-height: 64px;
    background-color: #121212;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
                0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 2px 1px -1px rgba(0, 0, 0, 0.12);
    color: #fff;
    padding: 0 16px 0 24px;
    z-index: 99;

    .menu {
      width: 100%;
      img {
        height: 48px;
        cursor: pointer;
      }
      .item {
        font-family: 'Press Start 2P', cursive;
        font-size: 20px;
        margin: 0 3%;
        span {
          cursor: pointer;
        }
      }
      .item:hover {
        color: #8A2BE2;
        text-shadow: 1px 1px 0px white;
      }
    }
    .logout {
      cursor: pointer;
      margin-right: 40px;
      .exit-btn:hover {
        fill: #8A2BE2;
      }
    }
  }

  .main-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000;
    z-index: 99;
    border-top: 1px ridge #8A2BE2;
    text-align: center;
    .information {
      padding: 0;
      border-radius: 5px;
      width: 85%;
      color: white;
      font-size: 20px;
      p {
        margin: 5px 0;
        font-family: 'Press Start 2P', cursive;
      }
    }
  }
}

@media (max-width: 950px) {
  .shell {
    .main-header {
      .menu {
        .item {
          font-size: 14px;
          }
        }
      }
    }
}

@media (max-width: 750px) {
  .shell {
    .main-header {
      .menu {
          display: none;
      }
      .menu-button {
        display: inherit;
        .md-button.md-fab.md-mini {
          background: #121212;
          box-shadow: none;
        }
      }
    }
  }
}

@media (min-width: 751px) {
  .shell {
    .main-header {
      .menu {
        display: inherit;
      }
      .menu-button {
        display: none;
      }
    }
  }
}