<div class="shell">
    <header class="main-header" layout="row" layout-align="space-between center">
        <div class="logout" ng-click="vm.logout()" layout="row">
            <ng-md-icon size="30" class="exit-btn" icon="camera_front"></ng-md-icon>
            <md-tooltip>Logout</md-tooltip>
        </div>

        <img src="../../assets/img/api_giphy_logo.png" alt="logo" ui-sref="app.main">
        <div class="menu" layout="row" layout-align="start center">
            <div class="item" ui-sref="app.main">
                <span>Where live Gif</span>
            </div>
            <div class="item" ui-sref="app.collection">
                <span>My collection</span>
            </div>
        </div>

        <div class="menu-button" layout="row" layout-align="start center">
            <md-button ui-sref="app.main" aria-label="main" class="md-fab md-primary md-mini">
                <ng-md-icon style="fill: white" size="30" icon="main"></ng-md-icon>
            </md-button>
            <md-button ui-sref="app.collection" aria-label="Collection" class="md-fab md-primary md-mini">
                <ng-md-icon style="fill: white" size="30" icon="dashboard"></ng-md-icon>
            </md-button>
        </div>
        
    </header>

    <md-content id="content">
        <ui-view>

        </ui-view>
    </md-content>

    <footer class="main-footer" layout="row" layout-align="center center">
        <div class="information">
            <p>develop by Ya. Vladislav</p>
        </div>
    </footer>
</div>