body {
  background: no-repeat url("../assets/img/giphy.jpg") center;
  background-size: cover;
  color: rgba(0, 0, 0, 0.87);
}

body *:focus {
  outline: none;
}

body .white-frame {
  margin: 0 auto;
  padding: 32px;
  background: #FFFFFF;
  text-align: center;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.1);
}

body #content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body .main,
body .collection {
  background: no-repeat url("../assets/img/background.png") center;
  background-size: cover;
}

body .page {
  padding: 64px 0 0;
  background-color: transparent;
}

body .dialog-window .dialog-header {
  background-color: transparent;
  text-align: right;
  padding: 10px;
}

body .dialog-window .dialog-header ng-md-icon {
  cursor: pointer;
}

body .dialog-window .main-container {
  background-color: #a9a9a9;
  text-align: center;
}

body .gif-container {
  padding: 10px 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: auto;
  height: 105vh;
  border-collapse: collapse;
}

body .gif-container .item {
  text-align: center;
  position: relative;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  margin: 10px;
  height: 150px;
  width: 200px;
  -webkit-box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 1px rgba(0, 0, 0, 0.14), 0 0px 0px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 1px rgba(0, 0, 0, 0.14), 0 0px 0px 1px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

body .gif-container .item img {
  height: 150px;
  width: 200px;
  cursor: pointer;
}

body .gif-container .item .save-btn {
  background: #8A2BE2;
  width: 45px;
  -webkit-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20%;
  padding: 5px;
  border: 2px solid transparent;
}

body .gif-container .item .delete-btn {
  background: red;
  width: 40px;
  -webkit-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid transparent;
}

body .gif-container .item:hover {
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 0px 0px 10px #8A2BE2;
  box-shadow: 0px 0px 10px #8A2BE2;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

body .gif-container .item:hover img {
  width: 250px;
  height: 180px;
  cursor: pointer;
}

body .gif-container .item:hover .save-btn,
body .gif-container .item:hover .delete-btn {
  opacity: 1;
}

body .gif-container .save-btn:active,
body .gif-container .delete-btn:active {
  border: 3px solid white;
}

body .gif-container .save-btn:hover,
body .gif-container .delete-btn:hover {
  border: 1px solid white;
}

md-dialog {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 4px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

::-webkit-scrollbar {
  display: none;
  width: 4px;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  .white-frame {
    width: 200px;
  }

  .gif-container .item {
    width: 100%;
  }

  .dialog-window .main-container img {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  .white-frame {
    width: 250px;
  }

  .gif-container .item {
    width: 45%;
  }

  .dialog-window .main-container img {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  .white-frame {
    width: 300px;
  }

  .gif-container .item {
    width: 25%;
  }

  .dialog-window .main-container img {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .white-frame {
    width: 350px;
  }

  .gif-container .item {
    width: 25%;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */

  .white-frame {
    width: 350px;
  }

  .gif-container .item {
    width: 20%;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

  .white-frame {
    width: 350px;
  }

  .gif-container .item {
    width: 20%;
  }
}
body {
  background: no-repeat url("../assets/img/giphy.jpg") center;
  background-size: cover;
  color: rgba(0, 0, 0, 0.87);
}

body *:focus {
  outline: none;
}

body .white-frame {
  margin: 0 auto;
  padding: 32px;
  background: #FFFFFF;
  text-align: center;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.1);
}

body #content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body .main,
body .collection {
  background: no-repeat url("../assets/img/background.png") center;
  background-size: cover;
}

body .page {
  padding: 64px 0 0;
  background-color: transparent;
}

body .dialog-window .dialog-header {
  background-color: transparent;
  text-align: right;
  padding: 10px;
}

body .dialog-window .dialog-header ng-md-icon {
  cursor: pointer;
}

body .dialog-window .main-container {
  background-color: #a9a9a9;
  text-align: center;
}

body .gif-container {
  padding: 10px 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: auto;
  height: 105vh;
  border-collapse: collapse;
}

body .gif-container .item {
  text-align: center;
  position: relative;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  margin: 10px;
  height: 150px;
  width: 200px;
  -webkit-box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 1px rgba(0, 0, 0, 0.14), 0 0px 0px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 1px rgba(0, 0, 0, 0.14), 0 0px 0px 1px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

body .gif-container .item img {
  height: 150px;
  width: 200px;
  cursor: pointer;
}

body .gif-container .item .save-btn {
  background: #8A2BE2;
  width: 45px;
  -webkit-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20%;
  padding: 5px;
  border: 2px solid transparent;
}

body .gif-container .item .delete-btn {
  background: red;
  width: 40px;
  -webkit-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid transparent;
}

body .gif-container .item:hover {
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 0px 0px 10px #8A2BE2;
  box-shadow: 0px 0px 10px #8A2BE2;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

body .gif-container .item:hover img {
  width: 250px;
  height: 180px;
  cursor: pointer;
}

body .gif-container .item:hover .save-btn,
body .gif-container .item:hover .delete-btn {
  opacity: 1;
}

body .gif-container .save-btn:active,
body .gif-container .delete-btn:active {
  border: 3px solid white;
}

body .gif-container .save-btn:hover,
body .gif-container .delete-btn:hover {
  border: 1px solid white;
}

md-dialog {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 4px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

::-webkit-scrollbar {
  display: none;
  width: 4px;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  .white-frame {
    width: 200px;
  }

  .gif-container .item {
    width: 100%;
  }

  .dialog-window .main-container img {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  .white-frame {
    width: 250px;
  }

  .gif-container .item {
    width: 45%;
  }

  .dialog-window .main-container img {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  .white-frame {
    width: 300px;
  }

  .gif-container .item {
    width: 25%;
  }

  .dialog-window .main-container img {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .white-frame {
    width: 350px;
  }

  .gif-container .item {
    width: 25%;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */

  .white-frame {
    width: 350px;
  }

  .gif-container .item {
    width: 20%;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

  .white-frame {
    width: 350px;
  }

  .gif-container .item {
    width: 20%;
  }
}

.body-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.body-page .login {
  border-radius: 20px;
  border: 10px groove #8A2BE2;
}

.body-page .login .header-text {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  color: #8A2BE2;
  text-shadow: 1px 1px 1px black;
}

.body-page .login form .logo-input-container {
  margin: 15px 0 5px 0;
}

.body-page .login form .logo-input-container .logo-input {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background: #fff;
  padding: 0px 5px;
  height: 35px;
  border-radius: 5px;
}

.body-page .login form .remember-user,
.body-page .login form .sign-in-block {
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .login form .register-block {
  margin-top: 15px;
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .login form .register-block a {
  text-decoration: none;
}

.body-page .login form .register-block .sing-up-span {
  margin: 0 5px;
  font-size: 16px;
  color: slateblue;
}

.body-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.body-page .register {
  border-radius: 20px;
  border: 10px groove #8A2BE2;
}

.body-page .register .header-text {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  color: #8A2BE2;
  text-shadow: 1px 1px 1px black;
}

.body-page .register form .logo-input-container {
  margin: 15px 0 5px 0;
}

.body-page .register form .logo-input-container .logo-input {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background: #fff;
  padding: 0px 5px;
  height: 35px;
  border-radius: 5px;
}

.body-page .register form .remember-user,
.body-page .register form .sign-in-block {
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .register form .back-to-signin {
  margin-top: 15px;
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .register form .back-to-signin a {
  text-decoration: none;
}

.body-page .register form .back-to-signin .sing-up-span {
  margin: 0 5px;
  font-size: 16px;
  color: slateblue;
}

.shell .main-header {
  position: fixed;
  width: 100%;
  height: 64px;
  min-height: 64px;
  background-color: #121212;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 0 16px 0 24px;
  z-index: 99;
}

.shell .main-header .menu {
  width: 100%;
}

.shell .main-header .menu img {
  height: 48px;
  cursor: pointer;
}

.shell .main-header .menu .item {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin: 0 3%;
}

.shell .main-header .menu .item span {
  cursor: pointer;
}

.shell .main-header .menu .item:hover {
  color: #8A2BE2;
  text-shadow: 1px 1px 0px white;
}

.shell .main-header .logout {
  cursor: pointer;
  margin-right: 40px;
}

.shell .main-header .logout .exit-btn:hover {
  fill: #8A2BE2;
}

.shell .main-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #000;
  z-index: 99;
  border-top: 1px ridge #8A2BE2;
  text-align: center;
}

.shell .main-footer .information {
  padding: 0;
  border-radius: 5px;
  width: 85%;
  color: white;
  font-size: 20px;
}

.shell .main-footer .information p {
  margin: 5px 0;
  font-family: 'Press Start 2P', cursive;
}

@media (max-width: 950px) {
  .shell .main-header .menu .item {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .shell .main-header .menu {
    display: none;
  }

  .shell .main-header .menu-button {
    display: inherit;
  }

  .shell .main-header .menu-button .md-button.md-fab.md-mini {
    background: #121212;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (min-width: 751px) {
  .shell .main-header .menu {
    display: inherit;
  }

  .shell .main-header .menu-button {
    display: none;
  }
}

.main {
  background: no-repeat url("../assets/img/giphy.jpg") center;
  background-size: cover;
}

.main .search-container {
  position: fixed;
  top: 5px;
  right: 0px;
  z-index: 99;
  padding: 0 20px;
}

.main .search-container .md-button.md-fab.md-mini {
  background: #121212;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main .search-container input {
  font-size: 16px;
  border-radius: 3px;
  border: 4px inset #8A2BE2;
  background-color: #fff;
  min-width: 100px;
  width: 700px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  height: 45px;
  padding: 5px;
  font-family: 'Limelight', cursive;
}

.main .search-container input:focus {
  background-color: #fff;
}

.main .search-container .search-btn {
  fill: white;
}

.main .search-container .search-btn:hover {
  fill: #8A2BE2;
}

.main .gif-block-header p {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #8A2BE2;
  text-shadow: 2px 1px 1px black;
}

.main .gif-block-header .btn-add-gif {
  padding: 10px;
  margin-left: 10px;
  border: 3px solid transparent;
  border-radius: 25px;
  background: darkmagenta;
  color: white;
  -webkit-box-shadow: 0px 0px 2px inset;
  box-shadow: 0px 0px 2px inset;
  font-size: 20px;
  font-family: 'Limelight', cursive;
}

.main .gif-block-header .btn-add-gif:hover {
  border: 3px outset white;
}

.main .gif-block-header .btn-add-gif:active {
  border: 3px inset white;
}

.collection .header {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #8A2BE2;
  text-shadow: 2px 1px 1px black;
}

.collection .upload-static {
  position: fixed;
  right: 0;
}

.collection .upload-static .upload-btn {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.collection .upload-static .upload-btn:hover {
  -webkit-box-shadow: 0px 0px 20px white;
  box-shadow: 0px 0px 20px white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 480px) {
  .collection .upload-static {
    bottom: 50px;
  }
}

@media (min-width: 481px) {
  .collection .upload-static {
    top: 65px;
  }
}

.choose-gif {
  padding: 35px 35px 15px;
  background: #8A2BE2;
  font-family: 'Limelight', cursive;
}

.choose-gif .filereader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.choose-gif .filereader .choose-btn {
  margin-bottom: 10px;
  padding: 0 15px;
  background: #5d3452;
  color: #fff;
  border: 10px solid #fff;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.choose-gif .filereader .choose-btn p {
  margin: 5px;
  font-family: 'Limelight', cursive;
  font-size: 40px;
  font-weight: bold;
}

.choose-gif .filereader .choose-btn:hover {
  -webkit-box-shadow: inset 0 0px 20px 0px white;
  box-shadow: inset 0 0px 20px 0px white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.upload-form {
  padding: 15px;
  background: #8A2BE2;
  border-top: 3px solid #fff;
}

.upload-form .upload-form-input {
  width: 90%;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 15px;
}

.upload-form .upload-form-btn {
  margin-top: 10px;
  padding: 0px 15px;
  background: #5d3452;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.upload-form .upload-form-btn p {
  margin: 1px;
  font-family: 'Limelight', cursive;
  font-size: 20px;
}

.upload-form .upload-form-btn:hover {
  -webkit-box-shadow: inset 0 0px 5px 0px white;
  box-shadow: inset 0 0px 5px 0px white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.collection .header {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #8A2BE2;
  text-shadow: 2px 1px 1px black;
}

.collection .upload-static {
  position: fixed;
  right: 0;
}

.collection .upload-static .upload-btn {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.collection .upload-static .upload-btn:hover {
  -webkit-box-shadow: 0px 0px 20px white;
  box-shadow: 0px 0px 20px white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 480px) {
  .collection .upload-static {
    bottom: 50px;
  }
}

@media (min-width: 481px) {
  .collection .upload-static {
    top: 65px;
  }
}
.body-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.body-page .login {
  border-radius: 20px;
  border: 10px groove #8A2BE2;
}

.body-page .login .header-text {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  color: #8A2BE2;
  text-shadow: 1px 1px 1px black;
}

.body-page .login form .logo-input-container {
  margin: 15px 0 5px 0;
}

.body-page .login form .logo-input-container .logo-input {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background: #fff;
  padding: 0px 5px;
  height: 35px;
  border-radius: 5px;
}

.body-page .login form .remember-user,
.body-page .login form .sign-in-block {
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .login form .register-block {
  margin-top: 15px;
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .login form .register-block a {
  text-decoration: none;
}

.body-page .login form .register-block .sing-up-span {
  margin: 0 5px;
  font-size: 16px;
  color: slateblue;
}
.main {
  background: no-repeat url("views/assets/img/giphy.jpg") center;
  background-size: cover;
}

.main .search-container {
  position: fixed;
  top: 5px;
  right: 0px;
  z-index: 99;
  padding: 0 20px;
}

.main .search-container .md-button.md-fab.md-mini {
  background: #121212;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main .search-container input {
  font-size: 16px;
  border-radius: 3px;
  border: 4px inset #8A2BE2;
  background-color: #fff;
  min-width: 100px;
  width: 700px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  height: 45px;
  padding: 5px;
  font-family: 'Limelight', cursive;
}

.main .search-container input:focus {
  background-color: #fff;
}

.main .search-container .search-btn {
  fill: white;
}

.main .search-container .search-btn:hover {
  fill: #8A2BE2;
}

.main .gif-block-header p {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #8A2BE2;
  text-shadow: 2px 1px 1px black;
}

.main .gif-block-header .btn-add-gif {
  padding: 10px;
  margin-left: 10px;
  border: 3px solid transparent;
  border-radius: 25px;
  background: darkmagenta;
  color: white;
  -webkit-box-shadow: 0px 0px 2px inset;
  box-shadow: 0px 0px 2px inset;
  font-size: 20px;
  font-family: 'Limelight', cursive;
}

.main .gif-block-header .btn-add-gif:hover {
  border: 3px outset white;
}

.main .gif-block-header .btn-add-gif:active {
  border: 3px inset white;
}
.body-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.body-page .register {
  border-radius: 20px;
  border: 10px groove #8A2BE2;
}

.body-page .register .header-text {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  color: #8A2BE2;
  text-shadow: 1px 1px 1px black;
}

.body-page .register form .logo-input-container {
  margin: 15px 0 5px 0;
}

.body-page .register form .logo-input-container .logo-input {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background: #fff;
  padding: 0px 5px;
  height: 35px;
  border-radius: 5px;
}

.body-page .register form .remember-user,
.body-page .register form .sign-in-block {
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .register form .back-to-signin {
  margin-top: 15px;
  font-family: 'Limelight', cursive;
  font-size: 14px;
}

.body-page .register form .back-to-signin a {
  text-decoration: none;
}

.body-page .register form .back-to-signin .sing-up-span {
  margin: 0 5px;
  font-size: 16px;
  color: slateblue;
}
.shell .main-header {
  position: fixed;
  width: 100%;
  height: 64px;
  min-height: 64px;
  background-color: #121212;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #fff;
  padding: 0 16px 0 24px;
  z-index: 99;
}

.shell .main-header .menu {
  width: 100%;
}

.shell .main-header .menu img {
  height: 48px;
  cursor: pointer;
}

.shell .main-header .menu .item {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin: 0 3%;
}

.shell .main-header .menu .item span {
  cursor: pointer;
}

.shell .main-header .menu .item:hover {
  color: #8A2BE2;
  text-shadow: 1px 1px 0px white;
}

.shell .main-header .logout {
  cursor: pointer;
  margin-right: 40px;
}

.shell .main-header .logout .exit-btn:hover {
  fill: #8A2BE2;
}

.shell .main-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #000;
  z-index: 99;
  border-top: 1px ridge #8A2BE2;
  text-align: center;
}

.shell .main-footer .information {
  padding: 0;
  border-radius: 5px;
  width: 85%;
  color: white;
  font-size: 20px;
}

.shell .main-footer .information p {
  margin: 5px 0;
  font-family: 'Press Start 2P', cursive;
}

@media (max-width: 950px) {
  .shell .main-header .menu .item {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .shell .main-header .menu {
    display: none;
  }

  .shell .main-header .menu-button {
    display: inherit;
  }

  .shell .main-header .menu-button .md-button.md-fab.md-mini {
    background: #121212;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (min-width: 751px) {
  .shell .main-header .menu {
    display: inherit;
  }

  .shell .main-header .menu-button {
    display: none;
  }
}
.choose-gif {
  padding: 35px 35px 15px;
  background: #8A2BE2;
  font-family: 'Limelight', cursive;
}

.choose-gif .filereader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.choose-gif .filereader .choose-btn {
  margin-bottom: 10px;
  padding: 0 15px;
  background: #5d3452;
  color: #fff;
  border: 10px solid #fff;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.choose-gif .filereader .choose-btn p {
  margin: 5px;
  font-family: 'Limelight', cursive;
  font-size: 40px;
  font-weight: bold;
}

.choose-gif .filereader .choose-btn:hover {
  -webkit-box-shadow: inset 0 0px 20px 0px white;
  box-shadow: inset 0 0px 20px 0px white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.upload-form {
  padding: 15px;
  background: #8A2BE2;
  border-top: 3px solid #fff;
}

.upload-form .upload-form-input {
  width: 90%;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 15px;
}

.upload-form .upload-form-btn {
  margin-top: 10px;
  padding: 0px 15px;
  background: #5d3452;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.upload-form .upload-form-btn p {
  margin: 1px;
  font-family: 'Limelight', cursive;
  font-size: 20px;
}

.upload-form .upload-form-btn:hover {
  -webkit-box-shadow: inset 0 0px 5px 0px white;
  box-shadow: inset 0 0px 5px 0px white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
