.body-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
    
  .register {
    border-radius: 20px;
    border: 10px groove #8A2BE2;
    .header-text {
      font-size: 40px;
      margin: 0;
      font-weight: bold;
      color: #8A2BE2;
      text-shadow: 1px 1px 1px black;
    }
    form {
      .logo-input-container {
        margin: 15px 0 5px 0;
        .logo-input {
          font-size: 16px;
          font-family: 'Press Start 2P', cursive;
          background: #fff;
          padding: 0px 5px;
          height: 35px;
          border-radius: 5px;
        }
      }
      .remember-user,
      .sign-in-block {
        font-family: 'Limelight', cursive;
        font-size: 14px;
      }

      .back-to-signin {
        margin-top: 15px;
        font-family: 'Limelight', cursive;
        font-size: 14px;
        a {
          text-decoration: none;
        }
        .sing-up-span {
          margin: 0 5px;
          font-size: 16px;
          color: slateblue;
        }
      }
    }
  }
}