<div class="body-page">
    <div class="page">
        <div class="white-frame register">
            <h2 class="header header-text">
                #Create Your HolyAccount
            </h2>

            <form name="registerForm" novalidate ng-submit="vm.registration()">
                <md-input-container class="md-block logo-input-container" md-no-float>
                    <input class="logo-input" name="username" ng-model="vm.form.username" placeholder="Name"
                        required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            Username field is required
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block logo-input-container" md-no-float>
                    <input class="logo-input" type="email" name="email" ng-model="vm.form.email"
                        placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            Email field is required
                        </div>
                        <div ng-message="pattern">
                            Email must be a valid e-mail address
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block logo-input-container" md-no-float>
                    <input class="logo-input" type="password" name="password" ng-model="vm.form.password"
                        placeholder="Password" required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            Password field is required
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block logo-input-container" md-no-float>
                    <input class="logo-input" type="password" name="passwordConfirm" ng-model="vm.passwordConfirm"
                        placeholder="Confirm password" required>
                    <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            Confirm password field is required
                        </div>
                    </div>
                </md-input-container>

                <div class="terms" layout="row" layout-xs="column" layout-align="space-between center">
                    <md-checkbox class="md-primary remember-user" name="terms" ng-model="vm.isAccepted"
                        aria-label="I read and accept" required>
                        Accept <a href="#"> terms and conditions</a>
                    </md-checkbox>
                </div>

                <div class="sign-in-block" layout="column" layout-align="center stretch">
                    <md-button type="submit" class="md-raised md-primary remember-user" aria-label="CREATE MY ACCOUNT"
                        ng-disabled="registerForm.$invalid || registerForm.$pristine || vm.passwordConfirm !== vm.form.password">
                        CREATE & GO
                    </md-button>
                </div>

                <div class="back-to-signin" layout="row" layout-align="center center">
                    I have account! I want <a ui-sref="login"><span class="sing-up-span">Log
                            in
                        </span></a>
                </div>

            </form>

        </div>
    </div>
</div>