$main-text-color: rgba(0, 0, 0, 0.87);

body {
  background: no-repeat url("../assets/img/giphy.jpg") center;
  background-size: cover;
  color: $main-text-color;

  *:focus {
    outline: none;
  }

  .white-frame {
    margin: 0 auto;
    padding: 32px;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.1);
  }

  #content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .main,
  .collection {
    background: no-repeat url("../assets/img/background.png") center;
    background-size: cover;
   }
  .page {
    padding: 64px 0 0;
    background-color: transparent;
  }

  .dialog-window {
    .dialog-header {
      background-color: transparent;
      text-align: right;
      padding: 10px;
      ng-md-icon {
        cursor: pointer;
      }
    }
    .main-container {
      background-color: #a9a9a9;
      text-align: center;
      //width: 100%;
    }
  }

  .gif-container {
    padding: 10px 50px;
    flex-wrap: wrap;
    overflow: auto;
    height: 105vh;
    border-collapse: collapse;
    .item {
      //width: 20%;
      text-align: center;
      position: relative;
      transition: 0.1s ease;
      margin: 10px;
      height: 150px;
      width:200px;
      box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2),
      0 0px 0px 1px rgba(0, 0, 0, 0.14),
      0 0px 0px 1px rgba(0, 0, 0, 0.14);
      overflow: hidden;
      img {
        height: 150px;
        width: 200px;
        cursor: pointer;
      }
      .save-btn {
        background: #8A2BE2;
        width: 45px;
        transition: opacity linear 0.3s;
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 20%;
        padding: 5px;
        border: 2px solid transparent;
      }
      .delete-btn {
        background: red;
        width: 40px;
        transition: opacity linear 0.3s;
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        padding: 5px;
        border: 2px solid transparent;
      }
      
    }
    .item:hover {
      width: 250px;
      height: 180px;
      box-shadow: 0px 0px 10px #8A2BE2;
      transition: 0.1s ease;
      img {
        width: 250px;
        height: 180px;
        cursor: pointer;
      }
      .save-btn,
      .delete-btn {
        opacity: 1;
      }
    }
    .save-btn:active,
    .delete-btn:active {
      border: 3px solid white;
    }
    .save-btn:hover,
    .delete-btn:hover {
      border: 1px solid white;
    }

  }
}

md-dialog {
  background-color: transparent;
}

// scrollbar

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 4px;
  transition: background-color .2s linear;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

::-webkit-scrollbar {
  display: none;
  width: 4px;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .white-frame {
    width: 200px;
  }
  .gif-container {
    .item {
      width: 100%;
    }
  }
  .dialog-window {
    .main-container {
      img {
        width: 100%;
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .white-frame {
    width: 250px;
  }
  .gif-container {
    .item {
      width: 45%;
    }
  }
  .dialog-window {
    .main-container {
      img {
        width: 100%;
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .white-frame {
    width: 300px;
  }
  .gif-container {
    .item {
      width: 25%;
    }
  }

  .dialog-window {
    .main-container {
      img {
        width: 100%;
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .white-frame {
    width: 350px;
  }
  .gif-container {
    .item {
      width: 25%;
    }
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .white-frame {
    width: 350px;
  }
  .gif-container {
    .item {
      width: 20%;
    }
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .white-frame {
    width: 350px;
  }
  .gif-container {
    .item {
      width: 20%;
    }
  }
}