.collection {
  .header {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #8A2BE2;
    text-shadow: 2px 1px 1px black;
  }
  .upload-static {
    position: fixed;
    right: 0;
    .upload-btn {
      transition: 0.3s ease;
    }
    .upload-btn:hover {
      box-shadow: 0px 0px 20px white;
      transition: 0.3s ease;
    }
  }
  .collection-container {
    .item {

    }
  }
}

@media (max-width: 480px) {
  .collection {
    .upload-static {
      bottom: 50px;
    }
  }
}

@media (min-width: 481px) {
  .collection {
    .upload-static {
      top: 65px;
    }
  }
}