<div class="page">
    <div class="collection">
        <h1 class="header">
            My Collection
        </h1>

        <div class="upload-static">
            <md-button ng-click="vm.uploadGif()" class="md-raised md-primary upload-btn" md-colors="{background: '#8A2BE2'}">
                <ng-md-icon style="fill: white;" icon="cloud_upload">
                    <md-tooltip>Upload</md-tooltip>
                </ng-md-icon>
            </md-button>
        </div>

        <div class="gif-container" layout="row" layout-align="center start">
            <div class="item" ng-repeat="item in vm.collection track by $index">
                <img ng-src="{{item.images.fixed_height.url}}" alt="{{item.images.downsized.url}}">
                <button class="delete-btn" ng-click="vm.deleteGifOfCollection(item.id, $index)">
                    <ng-md-icon style="fill: white" icon="remove">
                        <md-tooltip>Delete gif</md-tooltip>
                    </ng-md-icon>
                </button>
            </div>
        </div>
    </div>
</div>

