<div class="dialog-window">
    <div class="dialog-header">
        <ng-md-icon size="32" style="fill: white" ng-click="vm.closeDialog()" icon="close">
            <md-tooltip>Close</md-tooltip>
        </ng-md-icon>
    </div>
    <div class="main-container">
        <img ng-src="{{vm.item.image_original_url}}" alt="{{vm.item.image_original_url}}"/>
    </div>
</div>
