<div class="dialog-window">
    <div class="dialog-header">
        <ng-md-icon style="fill: white" size="34" ng-click="vm.closeDialog()" icon="close">
        </ng-md-icon>
    </div>
    <div class="main-container">
        <div class="choose-gif">
            <choose-file-button fileread="vm.fileName" class="filereader">
                <input type="file" accept="image/gif"/>
                {{vm.fileName}}
                <button class="choose-btn"><p>Choose Gif</p></button>
            </choose-file-button>
        </div>

        <div class="upload-form" ng-if="vm.fileName">
            <input class="upload-form-input" type="text" placeholder="Type your name" ng-model="vm.userName">
            <md-chips ng-model="vm.tags" placeholder="Your tags" md-max-chips="5"></md-chips>
            <button class="upload-form-btn" type="button" ng-disabled="!vm.userName" ng-click="vm.uploadFileInServer()">
                <p>Upload</p>
            </button>
        </div>
    </div>
</div>