.choose-gif {
    padding: 35px 35px 15px;
    background: #8A2BE2;
    font-family: 'Limelight', cursive;
    .filereader {
        display: flex;
        flex-direction: column-reverse;
        .choose-btn {
            margin-bottom: 10px;
            padding: 0 15px;
            background:#5d3452;
            color: #fff;
            border: 10px solid #fff;
            border-radius: 3px;
            transition: 0.3s ease;
            p {
                margin: 5px;
                font-family: 'Limelight', cursive;
                font-size: 40px;
                font-weight: bold;
            }
        }
        .choose-btn:hover {
            box-shadow: inset 0 0px 20px 0px white;
            transition: 0.3s ease;
        }
    }
}

.upload-form {
    padding: 15px;
    background: #8A2BE2;
    border-top: 3px solid #fff;
    .upload-form-input {
        width: 90%;
        border: 1px solid white;
        border-radius: 3px;
        padding: 5px 15px;
    }
    .upload-form-btn {
        margin-top: 10px;
        padding: 0px 15px;
        background: #5d3452;
        color: #fff;
        border: 3px solid #fff;
        border-radius: 3px;
        transition: 0.3s ease;
            p {
                margin: 1px;
                font-family: 'Limelight', cursive;
                font-size: 20px;
            }
    }
    .upload-form-btn:hover {
        box-shadow: inset 0 0px 5px 0px white;
        transition: 0.3s ease;
    }
}