<div class="body-page">
    <div class="page">
        <div class="white-frame login">
            <h2 class="header header-text">
                #MyHolyGiphy
            </h2>
            <form name="loginForm" novalidate ng-submit="vm.login()">
                <md-input-container class="md-block logo-input-container" md-no-float>
                    <input class="logo-input" name="username" ng-model="vm.form.username" placeholder="Username"
                        required>
                    <div ng-messages="loginForm.username.$error" role="alert">
                        <div ng-message="required">
                            Username field is required
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block logo-input-container" md-no-float>
                    <input class="logo-input" type="password" name="password" ng-model="vm.form.password"
                        placeholder="Password" required/>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            Password field is required
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-user" layout="row" layout-xs="column" layout-align="space-between center">
                    <md-checkbox class="md-primary remember-user" ng-model="vm.isCheckedLogin"
                        aria-label="Remember">
                        Remember
                    </md-checkbox>
                </div>

                <div class="sign-in-block" layout="column" layout-align="center stretch">
                    <md-button type="submit" class="md-raised md-primary" aria-label="SIGN IN" ng-disabled="loginForm.$invalid || loginForm.$pristine">
                        SIGN IN
                    </md-button>
                </div>
                <div class="register-block" layout="row" layout-sm="column" layout-align="center center">
                    <span class="text">You Haven't account?</span>
                    <a class="link" ui-sref="registration"><span class="sing-up-span">SIGN
                            UP</span></a>
                </div>
            </form>
        </div>
    </div>
</div>